<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<title>WA</title>
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="jumbotron jumbotron-fluid container">
			<h1 class="display-4">Olá!</h1>
			<p class="lead">Bem-vinda(o) ao <strong>Gerenciador de Funcionários em WA</strong> 
			da GFT Brasil.</p>
			<hr class="my-4">
			<p>No menu superior é possível navegar entre todas as funcionalidades oferecidas: 
			cadastro, busca e consulta de funcionários e de vagas, alocação e também o histórico
			de funcionários alocados.</p>
			<!-- <a class="btn btn-primary btn-lg" href="#" role="button">Login</a>  -->
		</div>

	</section>
</body>
</html>